IMPORTING RELEVANT LIBRARIES
#Question: You have been provided with a dataset called "Golf_Gaming.csv" which has information on whether golf will be played at the Namulonge Golf Course depending on various weather parameters

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib as mat
import matplotlib.pyplot as plt
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

READING CSV FILE

In [2]:
golfing_df = pd.read_csv('C:/Users/katuk/Downloads/Golf_Gaming.csv')
golfing_df

    Day   Outlook Temperature Humidity    Wind Play Golf
0    D1     Sunny         Hot     High    Weak        No
1    D2     Sunny         Hot     High  Strong        No
2    D3  Overcast         Hot     High    Weak       Yes
3    D4      Rain        Mild     High    Weak       Yes
4    D5      Rain        Cool   Normal    Weak       Yes
5    D6      Rain        Cool   Normal  Strong        No
6    D7  Overcast        Cool   Normal  Strong       Yes
7    D8     Sunny        Mild     High    Weak        No
8    D9     Sunny        Cool   Normal    Weak       Yes
9   D10      Rain        Mild   Normal    Weak       Yes
10  D11     Sunny        Mild   Normal  Strong       Yes
11  D12  Overcast        Mild     High  Strong       Yes
12  D13  Overcast         Hot   Normal    Weak       Yes
13  D14      Rain        Mild     High  Strong        No
14  D15     Sunny         Hot      Low    Weak        No
15  D16      Rain        Cool      Low  Strong       Yes
16  D17  Overcast         Hot      Low    Weak         ?

REMOVING THE FIRST CHARACTER IN THE DAY COLUMN

In [4]:
golfing_df['Day'] = golfing_df['Day'].str[1:]
golfing_df

   Day   Outlook Temperature Humidity    Wind Play Golf
0    1     Sunny         Hot     High    Weak        No
1    2     Sunny         Hot     High  Strong        No
2    3  Overcast         Hot     High    Weak       Yes
3    4      Rain        Mild     High    Weak       Yes
4    5      Rain        Cool   Normal    Weak       Yes
5    6      Rain        Cool   Normal  Strong        No
6    7  Overcast        Cool   Normal  Strong       Yes
7    8     Sunny        Mild     High    Weak        No
8    9     Sunny        Cool   Normal    Weak       Yes
9   10      Rain        Mild   Normal    Weak       Yes
10  11     Sunny        Mild   Normal  Strong       Yes
11  12  Overcast        Mild     High  Strong       Yes
12  13  Overcast         Hot   Normal    Weak       Yes
13  14      Rain        Mild     High  Strong        No
14  15     Sunny         Hot      Low    Weak        No
15  16      Rain        Cool      Low  Strong       Yes
16  17  Overcast         Hot      Low    Weak         ?

CONVERTING THE WIND COLUMN TO NUMERIC VALUES USING PANDAS

In [5]:
golfing_df['Wind'].replace(['Strong','Weak'],
                           [0,1], inplace=True)
golfing_df

   Day   Outlook Temperature Humidity  Wind Play Golf
0    1     Sunny         Hot     High     1        No
1    2     Sunny         Hot     High     0        No
2    3  Overcast         Hot     High     1       Yes
3    4      Rain        Mild     High     1       Yes
4    5      Rain        Cool   Normal     1       Yes
5    6      Rain        Cool   Normal     0        No
6    7  Overcast        Cool   Normal     0       Yes
7    8     Sunny        Mild     High     1        No
8    9     Sunny        Cool   Normal     1       Yes
9   10      Rain        Mild   Normal     1       Yes
10  11     Sunny        Mild   Normal     0       Yes
11  12  Overcast        Mild     High     0       Yes
12  13  Overcast         Hot   Normal     1       Yes
13  14      Rain        Mild     High     0        No
14  15     Sunny         Hot      Low     1        No
15  16      Rain        Cool      Low     0       Yes
16  17  Overcast         Hot      Low     1         ?

CONVERTING THE HUMIDITY COLUMN TO NUMERIC VALUES USING PANDAS

In [6]:
golfing_df['Humidity'].replace(['Low','Normal','High'],
                           [0,1,2], inplace=True)
golfing_df

   Day   Outlook Temperature  Humidity  Wind Play Golf
0    1     Sunny         Hot         2     1        No
1    2     Sunny         Hot         2     0        No
2    3  Overcast         Hot         2     1       Yes
3    4      Rain        Mild         2     1       Yes
4    5      Rain        Cool         1     1       Yes
5    6      Rain        Cool         1     0        No
6    7  Overcast        Cool         1     0       Yes
7    8     Sunny        Mild         2     1        No
8    9     Sunny        Cool         1     1       Yes
9   10      Rain        Mild         1     1       Yes
10  11     Sunny        Mild         1     0       Yes
11  12  Overcast        Mild         2     0       Yes
12  13  Overcast         Hot         1     1       Yes
13  14      Rain        Mild         2     0        No
14  15     Sunny         Hot         0     1        No
15  16      Rain        Cool         0     0       Yes
16  17  Overcast         Hot         0     1         ?

CONVERTING THE TEMPERATURE COLUMN TO NUMERIC VALUES USING PANDAS

In [8]:
golfing_df['Temperature'].replace(['Hot','Mild','Cool'],
                           [0,1,2], inplace=True)
golfing_df

   Day   Outlook  Temperature  Humidity  Wind Play Golf
0    1     Sunny            0         2     1        No
1    2     Sunny            0         2     0        No
2    3  Overcast            0         2     1       Yes
3    4      Rain            1         2     1       Yes
4    5      Rain            2         1     1       Yes
5    6      Rain            2         1     0        No
6    7  Overcast            2         1     0       Yes
7    8     Sunny            1         2     1        No
8    9     Sunny            2         1     1       Yes
9   10      Rain            1         1     1       Yes
10  11     Sunny            1         1     0       Yes
11  12  Overcast            1         2     0       Yes
12  13  Overcast            0         1     1       Yes
13  14      Rain            1         2     0        No
14  15     Sunny            0         0     1        No
15  16      Rain            2         0     0       Yes
16  17  Overcast            0         0     1         ?

CONVERTING THE OUTLOOK COLUMN TO NUMERIC VALUES USING PANDAS

In [9]:
golfing_df['Outlook'].replace(['Sunny','Overcast','Rain'],
                           [0,1,2], inplace=True)
golfing_df

   Day  Outlook  Temperature  Humidity  Wind Play Golf
0    1        0            0         2     1        No
1    2        0            0         2     0        No
2    3        1            0         2     1       Yes
3    4        2            1         2     1       Yes
4    5        2            2         1     1       Yes
5    6        2            2         1     0        No
6    7        1            2         1     0       Yes
7    8        0            1         2     1        No
8    9        0            2         1     1       Yes
9   10        2            1         1     1       Yes
10  11        0            1         1     0       Yes
11  12        1            1         2     0       Yes
12  13        1            0         1     1       Yes
13  14        2            1         2     0        No
14  15        0            0         0     1        No
15  16        2            2         0     0       Yes
16  17        1            0         0     1         ?

DROPPING LAST ROW CAUSE VALUES ARE NOT NECESSARY AT THIS POINT

In [10]:
golfing_df = golfing_df.drop([16])
golfing_df

   Day  Outlook  Temperature  Humidity  Wind Play Golf
0    1        0            0         2     1        No
1    2        0            0         2     0        No
2    3        1            0         2     1       Yes
3    4        2            1         2     1       Yes
4    5        2            2         1     1       Yes
5    6        2            2         1     0        No
6    7        1            2         1     0       Yes
7    8        0            1         2     1        No
8    9        0            2         1     1       Yes
9   10        2            1         1     1       Yes
10  11        0            1         1     0       Yes
11  12        1            1         2     0       Yes
12  13        1            0         1     1       Yes
13  14        2            1         2     0        No
14  15        0            0         0     1        No
15  16        2            2         0     0       Yes

SPLITTING DATA TO PREDICT OUTPUTS

In [12]:
X = golfing_df.drop(columns=["Play Golf"])
X

   Day  Outlook  Temperature  Humidity  Wind
0    1        0            0         2     1
1    2        0            0         2     0
2    3        1            0         2     1
3    4        2            1         2     1
4    5        2            2         1     1
5    6        2            2         1     0
6    7        1            2         1     0
7    8        0            1         2     1
8    9        0            2         1     1
9   10        2            1         1     1
10  11        0            1         1     0
11  12        1            1         2     0
12  13        1            0         1     1
13  14        2            1         2     0
14  15        0            0         0     1
15  16        2            2         0     0

In [13]:
y = golfing_df['Play Golf']
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
14     No
15    Yes
Name: Play Golf, dtype: object

BUILDING THE MODEL USING THE DECISION TREE METHOD

In [14]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

TRAINING THE MODEL USING THE INPUT SET(X) AND OUTPUT SET(y)

In [15]:
model.fit(X, y)

DecisionTreeClassifier()

MAKING PREDICTIONS

In [17]:
prediction = model.predict([[17, 1, 0, 0, 0]])
prediction

array(['No'], dtype=object)

TESTING THE MODEL

In [19]:
# test model for 20% with day
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

prediction = model.predict(X_test)
 
score = accuracy_score(y_test, prediction)
score

0.75

In [20]:
from sklearn.externals import joblib
joblib.dumb(model, 'Golf playing predictor.joblib')

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\katuk\anaconda3\lib\site-packages\sklearn\externals\__init__.py)